<div class="header">
    <a href="#default" class="logo">SETTLEMENT PORTAL</a>
    <button  (click)="logout()" style="float: right;" pButton type="button" icon="pi pi-power-off"></button>

</div>
<br><br>
<br><br>
<div class="ui-g">
    <div class="ui-g-4">
        <img src={{clientInfo.imagePath}} style="height:90px;margin-left:50px">
        <br>
        <br>
    </div>
    <div class="ui-g-4">
        <table style="margin-left:50px">
            <tr style="text-align:left;">
                <th>Client Name: </th>
                <td>{{clientInfo.participantName}}</td>
            </tr>
            <tr style="text-align:left;">
                <th>Contact: </th>
                <td>{{clientInfo.contactNumber}}</td>
            </tr>
            <tr style="text-align:left;">
                <th>Email Id: </th>
                <td>{{clientInfo.emailId}}</td>
            </tr>
        </table>
        
    </div>
    <div class="ui-g-4">
            <button pButton type="button" label="Obligation Report" (click)="obligation()"></button> <br><br>
            <button pButton type="button" label="Cost of Settlement Report" (click)="costSettlement()"></button>
    </div>
</div>
<br>
<div class="ui-g" style="margin-left: 20px;margin-right: 20px">
    <h2>Trades</h2>
    <p-table #clientTable [value]="clientTrades"  [paginator]="true" [rows]="10" [scrollable]="true" scrollHeight="250px">
        <ng-template pTemplate="header">
            <tr>
                
                <th>BUY/SELL</th>
                <th>SECURITY NAME</th>
                <th>QTY</th>
                <th>RATE</th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-client>
            <tr>
                <td *ngIf="cId===client.buyerId && cId===client.sellerId;else notboth">Buy/Sell</td>
                <ng-template #notboth>
                    <td *ngIf="cId === client.buyerId">Buy</td>
                    <td *ngIf="cId === client.sellerId">Sell</td>
                </ng-template>
                
                <td>{{client.securityName}}</td>
                <td>{{client.securityQuantity}}</td>
                <td>{{client.securityRate}}</td>
            </tr>
        </ng-template>
    </p-table>
    <button pButton type="button"  style="border: none;background-color:white;color:blue;" (click)="viewNettingDetails()"><u>View Netting Details</u></button>

</div>
<br><br>
<div class="ui-g" *ngIf="corporateActions != null">
       
            <h2 style="text-align: center"> Corporate Actions </h2>
            <p-table [value]="corporateActions" [rows]="10" [scrollable]="true" scrollHeight="250px">
                <ng-template pTemplate="header">
                    <tr>
                        <th>CORPORATE ACTION</th>
                        <th>SECURITY NAME</th>
                        <th>RATIO</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-caction>
                    <tr>
                        <td *ngIf="caction.corporateActionName === 1">Stock Dividend</td>
                        <td *ngIf="caction.corporateActionName === 2">Stock Split</td>
                        <td *ngIf="caction.corporateActionName === 3">Rights</td>
                        <td>{{caction.securityName}}</td>
                        <td *ngIf="caction.corporateActionName === 1">1 : {{caction.corporateActionRatio}}</td>
                        <td *ngIf="caction.corporateActionName === 2">1 : {{caction.corporateActionRatio}}</td>
                        <td *ngIf="caction.corporateActionName === 3 && testright(caction)">1 : {{caction.corporateActionRatio}} <button style="float:right;" pButton type="button" label="Execute Rights" (click)="executeRights(caction)"></button></td>
                        <!-- <td *ngIf="testright(caction)"> <button pButton type="button" label="Execute Rights" (click)="executeRights(caction)"></button>
                        </td> -->
                        <ng-template #nobtn> <td> </td> </ng-template>
                        
                    </tr>
                </ng-template>
            </p-table>
</div>
<br>
<div>
    <div> 
        <h2> Balance Status </h2> 
     </div>
    <div>
        <h3> Account Balance: Rs. {{clientInfo.funds}} </h3>
    </div>
    <div>
        <h3> Equity Balance</h3>
        <p-table [value]="securityBalance" [rows]="10" [scrollable]="true" scrollHeight="250px">
            <ng-template pTemplate="header">
                <tr>
                    <th>SECURITY NAME</th>
                    <th>QTY</th>                 
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-bal>
                <tr>
                    <td>{{bal.securityName}}</td>
                    <td>{{bal.securityQuantity}}</td>                   
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<br>
<div class="ui-g">
    <div class="ui-g-6" style="text-align: center">
        <button  pButton type="button" label="Add Funds" (click)="addFunds()"></button>
    </div>
    <div class="ui-g-6" style="text-align: center">
        <button pButton type="button" label="Reconciliation" (click)="viewDetails()"></button>
    </div>
</div>

