<html>
    <head></head>
    <body >
        <h1 class="heading">Forgot your password?</h1>
        <div class='parent grid-parent'>
                <div class='pic'>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2KDHeoj7RRStVP7CkbznMdBTvbUnT2g4iTV0G_BXw_9fqJ_Te"
                        style="widows: 500px; height: 420px;" >
                </div>
                <div class="input">
                        <div class="email">
                                <h3 class="msg">Please input your registered email id </h3>
                                <span class="ui-float-label">
                                <input id="float-input" type="text" size="40" pInputText> 
                                
                                </span> 
                            </div>
                            <!-- <p-captcha siteKey="YOUR_SITE_KEY" (onResponse)="showResponse($event)" initCallback="loadCaptcha"></p-captcha> -->
                            <br><button pButton type="button" label="Send" class="ui-button-rounded" iconPos="center" 
                            (click)="handleClick()"></button>
                            
                            <h3 class="msg2">We will send you a validation code in your email address</h3>
                            <div *ngIf="flag" class="confirmation">
                                <br> Email has been sent successfully!!
                             </div>
                </div>
              </div>
              
        
            
            
    </body>
</html>