:host{
    /* flex-grow: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; */
    background-size: cover;
    background-color: rgb(163, 143, 116);
    min-height: 100vh;
    
}

.heading{
    color: darkgrey;
    /* margin-left: 60px; */
    font-size: 40pt;
}

.grid-parent {
    display: grid;
    grid-template-columns: 600px 500px;
  }
.input{
   text-align: center;
}



 .msg2{
     text-align: center; 
     color: gray;
} 

.ui-button-rounded{
    /* margin-left: 95px; */
    background-color:lightgrey;
    font-family:'Times New Roman', Times, serif; 
    color:black; 
    font-size: 20px;
    font-weight: bold;
    border-color: darkgrey;
}

.confirmation{
    text-align: center;
    font-weight: bold;
    color: green;
}